* {
    margin: 0;
    padding: 0;
    font-family: 'Superclarendon';
    color: #424242;
    font-size: 14;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #5c5c5c;
}

button {
    color: #fcf3f3;
    font-weight: 700;
}

h1 {
    font-size: 47px;
    font-weight: 680;
    line-height: 62px;
    margin-bottom: 4px;

}
.MainText h1 {
    color: #153409;
  }

h2 {
    font-size: 32px;
    font-weight: 650;
    line-height: 45px;
    margin-bottom: 8px;
}

h3 {
    font-size: 24px;
    font-weight: 390;
    line-height: 42px;
}

.MainText h3 {
    color: #153409;
    margin-bottom: 24px;
  }

h4 {
    font-size: 16px;
    font-weight: 380;
    line-height: 24px;
}

.IndexButton {
    padding: 16px 32px;
    margin: 8px;
    background-color: #403830;
    border-radius: 5px;
    border-width: 2px;
    border-color: white;
    border-style:solid;
}

.IndexButton:hover{
    background-color:#d1c9c2;
    border-color:#403830;
    cursor: pointer;
}

.HeaderUpL {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    width: 100vw;
    background-color: #44301d;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.HeaderUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    width: 100vw;
    background-color: #44301d;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.HeaderPic {
    margin: 8px 40px;
}

.HeaderLogo {
    max-height: 64px;
    border-radius: 10px;
}

.HeaderLnks {
    display: flex;
    flex-direction: row;
    margin: 0px 40px;
}

.HeaderLnks a {
    padding: 24px;
    color: #f8f8f8
}

.HeaderLnks a:hover {
    color: #EAA200;
}
.MainText {
    text-align: center;
    margin: 80px 144px;
  }

.Main {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.MainButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 96px 24px 96px;
}

.Grids{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 100px 100px 96px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.GridsItem {

    margin: 24px;
    padding-bottom: 16px;
    background: #ffffff;
    box-shadow: 0px 5px 10px rgba(49,48,51,0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-out 0.2s;
}
.Griddie {

    margin: 30px;
    padding-bottom: 16px;
    background: #e7d6c5;
    border-radius: 11px;
    overflow: hidden;
}

.CoffeePic {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}
.PRound {
    border-radius: 60%;
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.PTxt {
    padding: 8px 16px;
}

.PrevPage {
    margin: 40px 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.PDisplay {
    margin: 40px 96px 80px 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.PDecsription {
    margin-left: 90px;
}

.PDecsription p {
    padding-top: 50px;
}
